[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/branches/42303/merge",
    "body": {
      "force_conflict_resolve_using": "master"
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch_merged": true,
      "branch": {
        "branch_id": 42303,
        "name": "node-merge",
        "created_at": "2019-11-13 12:53:50 (Etc/UTC)",
        "created_at_timestamp": 1573649630,
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]