[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/branches",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "branches": [
        {
          "branch_id": 14699,
          "name": "master",
          "created_at": "2018-09-24 16:05:22 (Etc/UTC)",
          "created_at_timestamp": 1537805122,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com"
        },
        {
          "branch_id": 68628,
          "name": "merge-it",
          "created_at": "2020-07-07 10:34:00 (Etc/UTC)",
          "created_at_timestamp": 1594118040,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com"
        },
        {
          "branch_id": 42301,
          "name": "merge-me",
          "created_at": "2019-11-13 12:26:20 (Etc/UTC)",
          "created_at_timestamp": 1573647980,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com"
        },
        {
          "branch_id": 42303,
          "name": "node-merge",
          "created_at": "2019-11-13 12:53:50 (Etc/UTC)",
          "created_at_timestamp": 1573649630,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "4",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1",
      "X-Lokalise-Process-Id",
      "684d1756-b23e-4f8f-b0c9-412be9027606"
    ],
    "responseIsBinary": false
  }
]