[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/branches/41284",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": {
        "branch_id": 41284,
        "name": "hotfix/really-important",
        "created_at": "2019-10-30 13:11:47 (Etc/UTC)",
        "created_at_timestamp": 1572441107,
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]