[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/branches?page=3&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "branches": [
        {
          "branch_id": 42301,
          "name": "merge-me",
          "created_at": "2019-11-13 12:26:20 (Etc/UTC)",
          "created_at_timestamp": 1573647980,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "3",
      "X-Pagination-Page-Count",
      "3",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "3"
    ],
    "responseIsBinary": false
  }
]