[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/keys/15519786/comments/800745",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "comment": {
        "comment_id": 800745,
        "key_id": 15519786,
        "comment": "rspec comment",
        "added_by": 20181,
        "added_by_email": "bodrovis@protonmail.com",
        "added_at": "2018-12-09 18:41:31 (Etc/UTC)",
        "added_at_timestamp": 1544380891
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]