[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/keys/74189435/comments/",
    "body": {
      "comments": [
        {
          "comment": "Single"
        }
      ]
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "comments": [
        {
          "comment_id": 8262727,
          "key_id": 74189435,
          "comment": "Single",
          "added_by": 20181,
          "added_by_email": "bodrovis@protonmail.com",
          "added_at": "2021-01-29 19:49:53 (Etc/UTC)",
          "added_at_timestamp": 1611949793
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET"
    ],
    "responseIsBinary": false
  }
]