[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/2273827860c1e2473eb195.11207948/comments?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "2273827860c1e2473eb195.11207948",
      "branch": "master",
      "comments": [
        {
          "comment_id": 11438930,
          "key_id": 194257660,
          "comment": "test 1",
          "added_by": 20181,
          "added_by_email": "bodrovis@protonmail.com",
          "added_at": "2022-07-25 17:51:30 (Etc/UTC)",
          "added_at_timestamp": 1658771490
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "4",
      "X-Pagination-Page-Count",
      "4",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2",
      "X-Lokalise-Process-Id",
      "c841c423-de96-4fb7-a7a7-4b77fa7b1892"
    ],
    "responseIsBinary": false
  }
]