[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/contributors/?page=2&limit=3",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "contributors": [
        {
          "user_id": 33599,
          "email": "twilight_church@list.ru",
          "fullname": "Joe",
          "created_at": "2019-03-26 15:46:41 (Etc/UTC)",
          "created_at_timestamp": 1553615201,
          "is_admin": false,
          "is_reviewer": true,
          "languages": [
            {
              "lang_id": 731,
              "lang_iso": "ar_001",
              "lang_name": "Arabic (World)",
              "is_writable": true
            },
            {
              "lang_id": 934,
              "lang_iso": "bm",
              "lang_name": "Bambara",
              "is_writable": true
            },
            {
              "lang_id": 764,
              "lang_iso": "ca",
              "lang_name": "Catalan",
              "is_writable": true
            },
            {
              "lang_id": 10111,
              "lang_iso": "custom_111",
              "lang_name": "Custom Language 111",
              "is_writable": true
            },
            {
              "lang_id": 640,
              "lang_iso": "en",
              "lang_name": "English",
              "is_writable": false
            },
            {
              "lang_id": 673,
              "lang_iso": "f_over",
              "lang_name": "fr overriden",
              "is_writable": true
            },
            {
              "lang_id": 597,
              "lang_iso": "ru",
              "lang_name": "Russian",
              "is_writable": true
            },
            {
              "lang_id": 1056,
              "lang_iso": "es",
              "lang_name": "Spanish",
              "is_writable": true
            }
          ],
          "admin_rights": []
        },
        {
          "user_id": 34051,
          "email": "demo2@example.com",
          "fullname": "Demo 2 User",
          "created_at": "2019-03-29 14:16:05 (Etc/UTC)",
          "created_at_timestamp": 1553868965,
          "is_admin": true,
          "is_reviewer": true,
          "languages": [
            {
              "lang_id": 803,
              "lang_iso": "sq",
              "lang_name": "Albanian",
              "is_writable": true
            },
            {
     [...]
