[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/contributors/20181",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "contributor": {
        "user_id": 20181,
        "email": "bodrovis@protonmail.com",
        "fullname": "Ilya B",
        "created_at": "2018-08-21 15:35:25 (Etc/UTC)",
        "created_at_timestamp": 1534865725,
        "is_admin": true,
        "is_reviewer": true,
        "languages": [
          {
            "lang_id": 803,
            "lang_iso": "sq",
            "lang_name": "Albanian",
            "is_writable": true
          },
          {
            "lang_id": 731,
            "lang_iso": "ar_001",
            "lang_name": "Arabic (World)",
            "is_writable": true
          },
          {
            "lang_id": 934,
            "lang_iso": "bm",
            "lang_name": "Bambara",
            "is_writable": true
          },
          {
            "lang_id": 764,
            "lang_iso": "ca",
            "lang_name": "Catalan",
            "is_writable": true
          },
          {
     [...]
