[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/contributors",
    "body": {
      "contributors": [
        {
          "email": "translator2@mycompany.com",
          "fullname": "Mr. Translator",
          "is_admin": false,
          "is_reviewer": true,
          "languages": [
            {
              "lang_iso": "en",
              "is_writable": false
            },
            {
              "lang_iso": "ru",
              "is_writable": true
            }
          ]
        }
      ]
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "contributors": [
        {
          "user_id": 39938,
          "email": "translator2@mycompany.com",
          "fullname": "Mr. Translator",
          "created_at": "2019-06-19 20:12:11 (Etc/UTC)",
          "created_at_timestamp": 1560975131,
          "is_admin": false,
          "is_reviewer": true,
          "languages": [
            {
              "lang_id": 640,
              "lang_iso": "en",
              "lang_name": "English",
              "is_writable": false
            },
            {
              "lang_id": 597,
              "lang_iso": "ru",
              "lang_name": "Russian",
              "is_writable": true
            }
          ],
          "admin_rights": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]