[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/contributors",
    "body": {
      "contributors": [
        {
          "email": "translator3@mycompany.com",
          "fullname": "Mr. Translator Single",
          "is_admin": false,
          "is_reviewer": true,
          "languages": [
            {
              "lang_iso": "en",
              "is_writable": false
            }
          ]
        }
      ]
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "contributors": [
        {
          "user_id": 92319,
          "email": "translator3@mycompany.com",
          "fullname": "Mr. Translator Single",
          "created_at": "2021-01-29 19:58:24 (Etc/UTC)",
          "created_at_timestamp": 1611950304,
          "is_admin": false,
          "is_reviewer": true,
          "languages": [
            {
              "lang_id": 640,
              "lang_iso": "en",
              "lang_name": "English Custom",
              "is_writable": false
            }
          ],
          "admin_rights": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET"
    ],
    "responseIsBinary": false
  }
]