[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "files": [
        {
          "file_id": 81446,
          "filename": "%LANG_ISO%.yml",
          "key_count": 66
        },
        {
          "file_id": 325512,
          "filename": "my_filename.json",
          "key_count": 1
        },
        {
          "file_id": 259910,
          "filename": "rspec_async.yml",
          "key_count": 1
        },
        {
          "file_id": 259909,
          "filename": "test_async.json",
          "key_count": 3
        },
        {
          "file_id": -1,
          "filename": "__unassigned__",
          "key_count": 4
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "5",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1",
      "X-Lokalise-Process-Id",
      "e75ac71a-03d3-412c-b534-4986bb2e82a9"
    ],
    "responseIsBinary": false
  }
]