[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test1.json",
      "lang_iso": "en"
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "file": "test1.json",
      "result": {
        "skipped": 0,
        "inserted": 3,
        "updated": 0
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]