[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test_async.json",
      "lang_iso": "en",
      "use_automations": false
    },
    "status": 202,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "5ca0e2683d4a62a86c53e74dac4c80136434e6c1",
        "type": "file-import",
        "status": "queued",
        "message": "",
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-11-24 15:50:19 (Etc/UTC)",
        "created_at_timestamp": 1606233019
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Location",
      "/api2/projects/803826145ba90b42d5d860.46800099/processes/5ca0e2683d4a62a86c53e74dac4c80136434e6c1"
    ],
    "responseIsBinary": false
  }
]