[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test_async.json",
      "lang_iso": "en",
      "queue": true
    },
    "status": 202,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "c0f2ea978ac6382f46babfd5de844062835280f8",
        "type": "file-import",
        "status": "queued",
        "message": "",
        "created_by": "20181",
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-14 10:00:09 (Etc/UTC)",
        "created_at_timestamp": 1589450409,
        "url": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/c0f2ea978ac6382f46babfd5de844062835280f8"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Location",
      "/api2/projects/803826145ba90b42d5d860.46800099/files/upload/c0f2ea978ac6382f46babfd5de844062835280f8"
    ],
    "responseIsBinary": false
  }
]