[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "files": [
        {
          "filename": "my_filename.json",
          "key_count": 1
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "5",
      "X-Pagination-Page-Count",
      "5",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ],
    "responseIsBinary": false
  }
]