[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/d217930e61f717a21f257372e7662a054f822d8e",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "d217930e61f717a21f257372e7662a054f822d8e",
        "type": "file-import",
        "status": "finished",
        "message": "",
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-07-02 15:13:45 (Etc/UTC)",
        "created_at_timestamp": 1593702825,
        "details": {
          "files": [
            {
              "status": "finished",
              "message": "",
              "name_original": "test_async.json",
              "name_custom": null,
              "word_count_total": 3,
              "key_count_total": 3,
              "key_count_inserted": 3,
              "key_count_updated": 0,
              "key_count_skipped": 0
            }
          ]
        }
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]