[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/3b943469e6b3e324b5bdad639b122a623e6e7a1a",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "3b943469e6b3e324b5bdad639b122a623e6e7a1a",
        "type": "file-import",
        "status": "finished",
        "message": "",
        "created_by": "20181",
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-13 11:24:37 (Etc/UTC)",
        "created_at_timestamp": 1589369077,
        "url": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/3b943469e6b3e324b5bdad639b122a623e6e7a1a",
        "files": [
          {
            "status": "finished",
            "message": "",
            "name_original": "test_async.json",
            "name_custom": null,
            "word_count_total": 3,
            "key_count_total": 3,
            "key_count_inserted": 1,
            "key_count_updated": 0,
            "key_count_skipped": 2
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]