[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/c0f2ea978ac6382f46babfd5de844062835280f8",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "c0f2ea978ac6382f46babfd5de844062835280f8",
        "type": "file-import",
        "status": "finished",
        "message": "",
        "created_by": "20181",
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-14 10:00:09 (Etc/UTC)",
        "created_at_timestamp": 1589450409,
        "url": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/c0f2ea978ac6382f46babfd5de844062835280f8",
        "files": [
          {
            "status": "finished",
            "message": "",
            "name_original": "test_async.json",
            "name_custom": null,
            "word_count_total": 3,
            "key_count_total": 3,
            "key_count_inserted": 0,
            "key_count_updated": 0,
            "key_count_skipped": 3
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]