[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "files": [
        {
          "filename": "%LANG_ISO%.yml",
          "key_count": 3
        },
        {
          "filename": "ios_%LANG_ISO%.strings",
          "key_count": 1
        },
        {
          "filename": "__unassigned__",
          "key_count": 15
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "3",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1"
    ]
  }
]