[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test_async.json",
      "lang_iso": "en",
      "queue": true
    },
    "status": 202,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "3b943469e6b3e324b5bdad639b122a623e6e7a1a",
        "type": "file-import",
        "status": "queued",
        "message": "",
        "created_by": "20181",
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-13 11:24:37 (Etc/UTC)",
        "created_at_timestamp": 1589369077,
        "url": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/3b943469e6b3e324b5bdad639b122a623e6e7a1a"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Location",
      "/api2/projects/803826145ba90b42d5d860.46800099/files/upload/3b943469e6b3e324b5bdad639b122a623e6e7a1a"
    ],
    "responseIsBinary": false
  }
]