[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test_async.json",
      "lang_iso": "en"
    },
    "status": 202,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "d217930e61f717a21f257372e7662a054f822d8e",
        "type": "file-import",
        "status": "queued",
        "message": "",
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-07-02 15:13:45 (Etc/UTC)",
        "created_at_timestamp": 1593702825
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Location",
      "/api2/projects/803826145ba90b42d5d860.46800099/processes/d217930e61f717a21f257372e7662a054f822d8e"
    ],
    "responseIsBinary": false
  }
]