[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/upload",
    "body": {
      "data": "ewogICAgImZydWl0IjogIkFwcGxlIiwKICAgICJzaXplIjogIkxhcmdlIiwKICAgICJjb2xvciI6ICJSZWQiCn0=",
      "filename": "test_async.json",
      "lang_iso": "en",
      "queue": true
    },
    "status": 202,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "c23eb693ff46cd9a78310132dfbc6a42c93b0fc2",
        "type": "file-import",
        "status": "queued",
        "message": "",
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-15 11:16:48 (Etc/UTC)",
        "created_at_timestamp": 1589541408
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Location",
      "/api2/projects/803826145ba90b42d5d860.46800099/processes/c23eb693ff46cd9a78310132dfbc6a42c93b0fc2"
    ],
    "responseIsBinary": false
  }
]