[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/files/download",
    "body": {
      "format": "json",
      "original_filenames": true
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "bundle_url": "https://s3-eu-west-1.amazonaws.com/lokalise-assets/files/export/803826145ba90b42d5d860.46800099/c65d8a0d106a6db61a311480d32ad79c/Demo_Phoenix-locale.zip"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]