[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "DELETE",
    "path": "/api2/projects/2273827860c1e2473eb195.11207948/keys",
    "body": {
      "keys": [
        367899184,
        367899181
      ]
    },
    "status": 200,
    "response": {
      "project_id": "2273827860c1e2473eb195.11207948",
      "branch": "master",
      "keys_removed": true,
      "keys_locked": 0
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET, POST, PUT",
      "X-Lokalise-Process-Id",
      "4de5bbea-e205-4925-97e9-a090aebfc1ba"
    ],
    "responseIsBinary": false
  }
]