[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/keys/44596066?disable_references=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "key": {
        "key_id": 44596066,
        "created_at": "2020-05-11 11:20:33 (Etc/UTC)",
        "created_at_timestamp": 1589196033,
        "key_name": {
          "ios": "static_pages:index:welcome",
          "android": "static_pages:index:welcome",
          "web": "static_pages:index:welcome",
          "other": "static_pages:index:welcome"
        },
        "filenames": {
          "ios": "",
          "android": "",
          "web": "%LANG_ISO%.yml",
          "other": ""
        },
        "description": "",
        "platforms": [
          "web"
        ],
        "tags": [],
        "comments": [],
        "screenshots": [],
        "translations": [
          {
            "translation_id": 304581295,
            "key_id": 44596066,
            "language_iso": "ru",
            "translation": "Добро пожаловать!",
            "modified_by": 20181,
            "modified_by_email": "bodrovis@protonmail.com",
            "modified_at": "2020-05-15 10:44:42 (Etc/UTC)",
            "modified_at_timestamp": 1589539482,
            "is_reviewed": false,
            "reviewed_by": 0,
            "is_fuzzy": false,
            "words": 2,
            "custom_translation_statuses": []
          },
          {
            "translation_id": 304581285,
            "key_id": 44596066,
            "language_iso": "en",
            "translation": "Welcome!",
            "modified_by": 20181,
            "modified_by_email": "bodrovis@protonmail.com",
            "modified_at": "2020-05-11 11:20:33 (Etc/UTC)",
            "modified_at_timestamp": 1589196033,
            "is_reviewed": false,
            "reviewed_by": 0,
            "is_fuzzy": false,
            "words": 1,
   [...]
