[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/languages/601",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "language": {
        "lang_id": 601,
        "lang_iso": "zh_TW",
        "lang_name": "Chinese Traditional",
        "is_rtl": false,
        "plural_forms": [
          "other"
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]