[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/system/languages?page=3&limit=2",
    "body": "",
    "status": 200,
    "response": {
      "languages": [
        {
          "lang_id": 792,
          "lang_iso": "af_ZA",
          "lang_name": "Afrikaans (South Africa)",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "other"
          ]
        },
        {
          "lang_id": 977,
          "lang_iso": "agq",
          "lang_name": "Aghem",
          "is_rtl": false,
          "plural_forms": [
            "zero",
            "one",
            "two",
            "few",
            "many",
            "other"
          ]
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "619",
      "X-Pagination-Page-Count",
      "310",
      "X-Pagination-Limit",
      "2",
      "X-Pagination-Page",
      "3"
    ]
  }
]