[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/languages/",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "languages": [
        {
          "lang_id": 803,
          "lang_iso": "sq",
          "lang_name": "Albanian",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "other"
          ]
        },
        {
          "lang_id": 731,
          "lang_iso": "ar_001",
          "lang_name": "Arabic (World)",
          "is_rtl": true,
          "plural_forms": [
            "zero",
            "one",
            "two",
            "few",
            "many",
            "other"
          ]
        },
        {
          "lang_id": 934,
          "lang_iso": "bm",
          "lang_name": "Bambara",
          "is_rtl": false,
       [...]
