[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/languages/",
    "body": {
      "languages": [
        {
          "lang_iso": "ak"
        }
      ]
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "languages": [
        {
          "lang_id": 910,
          "lang_iso": "ak",
          "lang_name": "Akan",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "other"
          ]
        }
      ],
      "errors": []
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]