[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/languages/?page=2&limit=4",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "languages": [
        {
          "lang_id": 601,
          "lang_iso": "zh_TW",
          "lang_name": "Chinese Traditional",
          "is_rtl": false,
          "plural_forms": [
            "other"
          ]
        },
        {
          "lang_id": 10001,
          "lang_iso": "custom_1",
          "lang_name": "Custom Language 1",
          "is_rtl": false,
          "plural_forms": [
            "zero",
            "one",
            "two",
            "few",
            "many",
            "other"
          ]
        },
        {
          "lang_id": 737,
          "lang_iso": "nl",
          "lang_name": "Dutch",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "other"
          ]
        },
        {
          "lang_id": 640,
          "lang_iso": "en",
          "lang_name": "English",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "two",
            "few",
            "other"
          ]
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "12",
      "X-Pagination-Page-Count",
      "3",
      "X-Pagination-Limit",
      "4",
      "X-Pagination-Page",
      "2"
    ]
  }
]