[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/system/languages?page=4&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "languages": [
        {
          "lang_id": 791,
          "lang_iso": "af_NA",
          "lang_name": "Afrikaans (Namibia)",
          "is_rtl": false,
          "plural_forms": [
            "one",
            "other"
          ]
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "672",
      "X-Pagination-Page-Count",
      "672",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "4"
    ],
    "responseIsBinary": false
  }
]