[
  {
    "scope": "https://app.lokalise.com:443",
    "method": "POST",
    "path": "/oauth2/token",
    "body": {
      "client_id": "123abc",
      "client_secret": "456zyx",
      "code": "fdf9876214cffa10c6ebbb01bd2399077ba9c49e",
      "grant_type": "authorization_code"
    },
    "status": 200,
    "response": {
      "access_token": "stubbed access",
      "refresh_token": "stubbed refresh",
      "expires_in": 3600,
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "231c4e74-e147-42ab-ba24-3a756645818c"
    ],
    "responseIsBinary": false
  }
]