[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "project_type": "localization_files",
      "name": "Demo Phoenix",
      "description": "Description Phoenix",
      "created_at": "2018-09-24 16:05:22 (Etc/UTC)",
      "created_at_timestamp": 1537805122,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": true,
        "upvoting": false,
        "auto_toggle_unverified": true,
        "offline_translation": true,
        "key_editing": true,
        "inline_machine_translations": true,
        "branching": true,
        "segmentation": false,
        "custom_translation_statuses": false,
        "custom_translation_statuses_allow_multiple": false
      },
      "statistics": {
        "progress_total": 23,
        "keys_total": 75,
        "team": 11,
        "base_words": 340,
        "qa_issues_total": 147,
        "qa_issues": {
          "not_reviewed": 99,
          "unverified": 48,
          "spelling_grammar": 0,
          "inconsistent_placeholders": 0,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0,
          "unbalanced_brackets": 0
        },
        "languages": [
          {
            "language_id": 731,
            "language_iso": "ar_001",
            "progress": 7,
            "words_to_do": 315
          },
          {
            "language_id": 934,
            "language_iso": "bm",
            "progress": 7,
            "words_to_do": 315
          },
          {
            "language_id": 764,
            "language_iso": "ca",
            "progress": 7,
            "words_to_do": 315
          },
          {
            "language_id": 10001,
            "language_iso": "custom_1",
            "progress": 7,
            "words_to_do": 315
          },
          {
            "la[...]
