[
  {
    "scope": "https://app.lokalise.com:443",
    "method": "POST",
    "path": "/oauth2/token",
    "body": {
      "client_id": "123abc",
      "client_secret": "456zyx",
      "code": "fake",
      "grant_type": "authorization_code"
    },
    "status": 400,
    "response": {
      "error": "invalid_request",
      "error_description": "client_id: Client id must be 40 characters long",
      "error_uri": ""
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "75130365-619e-4f14-82c8-4d2a60c3ee85"
    ],
    "responseIsBinary": false
  }
]