[
  {
    "scope": "https://app.lokalise.com:443",
    "method": "POST",
    "path": "/oauth2/token",
    "body": {
      "client_id": "123abc",
      "client_secret": "456zyx",
      "refresh_token": "stubbed refresh",
      "grant_type": "refresh_token"
    },
    "status": 200,
    "response": {
      "access_token": "stubbed access",
      "expires_in": 3600,
      "scope": "write_team_groups read_projects",
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "14d6aa2d-121a-4dd4-aa07-154ec76c02aa"
    ],
    "responseIsBinary": false
  }
]