[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/teams/176692/orders/",
    "body": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "card_id": "1774",
      "briefing": "Nothing specific",
      "source_language_iso": "en",
      "target_language_isos": [
        "nl"
      ],
      "keys": [
        15519786
      ],
      "provider_slug": "gengo",
      "translation_tier": "1"
    },
    "status": 200,
    "response": {
      "order_id": "20190619AHL",
      "project_id": "803826145ba90b42d5d860.46800099",
      "card_id": "1774",
      "status": "in progress",
      "created_at": "2019-06-19 16:43:32 (Etc/UTC)",
      "created_at_timestamp": 1560962612,
      "created_by": "20181",
      "created_by_email": "bodrovis@protonmail.com",
      "source_language_iso": "en",
      "target_language_isos": [
        "nl"
      ],
      "keys": [
        15519786
      ],
      "source_words": {
        "nl": 3
      },
      "provider_slug": "gengo",
      "translation_tier": "1",
      "translation_tier_name": "Native speaker",
      "briefing": "Nothing specific",
      "total": 0.29,
      "dry_run": false
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]