[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "GET",
    "path": "/v3/teams/176692/projects/963054665b7c313dd9b323.35886655/bundles",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "id": 664595,
          "projectId": "963054665b7c313dd9b323.35886655",
          "isPrerelease": true,
          "isProduction": true,
          "createdAt": "2023-08-23T11:21:29.827Z",
          "createdBy": "20181",
          "framework": "android_sdk",
          "description": "android_demo",
          "isFrozen": false,
          "lokaliseId": null,
          "fileId": "843d1a17-306e-426e-b709-13fce39a8549",
          "modifiedAt": "2023-08-23T11:21:29.827Z"
        },
        {
          "id": 664594,
          "projectId": "963054665b7c313dd9b323.35886655",
          "isPrerelease": true,
          "isProduction": false,
          "createdAt": "2023-08-23T11:21:14.887Z",
          "createdBy": "20181",
          "framework": "ios_sdk",
          "description": "demo2",
          "isFrozen": false,
          "lokaliseId": 847046,
          "fileId": "2f6fe338-1ad0-47ba-9475-c12bf3128b55",
          "modifiedAt": "2023-08-23T11:21:14.887Z"
        },
        {
          "id": 664155,
          "projectId": "963054665b7c313dd9b323.35886655",
          "isPrerelease": false,
          "isProduction": true,
          "createdAt": "2023-08-22T18:15:01.277Z",
          "createdBy": "20181",
          "framework": "ios_sdk",
          "description": "ios_demo",
          "isFrozen": false,
          "lokaliseId": 846685,
          "fileId": "5c1b2d04-5576-4cfd-850a-282b35b9efc1",
          "modifiedAt": "2023-08-23T11:21:14.887Z"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]