[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "GET",
    "path": "/v3/lokalise/projects/963054665b7c313dd9b323.35886655/frameworks/ios_sdk?appVersion=1.2.3&transVersion=1",
    "body": "",
    "status": 200,
    "response": {
      "data": {
        "url": "https://ota-bundles.lokalise.com/176692/963054665b7c313dd9b323.35886655/bundles/16622b76-2dff-4860-87be-78429058e866?Expires=1692887097&Key-Pair-Id=KKVN81V83VN6B&Signature=Y8KDPr34e3KnY52DReWvfoOW~DVjqKhnHLe4JSg1WM6KxAe40gxkPautWq0frx4jgrzEsOWSuTIApMSwl-aMBEGeQhdej7hV8S~~4BzD-tFpNYvylU9spULaVsx15LI9FQtD46h4kt9yyAuzvntFmfBvXnjtsU56fYO54JAOajp2cdv8faCaTT5~qIVzqEl--MwkNOPiUgQlmYWDwuAIe38HyOeFl-WPG9fBFAa7SNoDumfIBgAaHzRIYalARLPm4CDE0FMmbNi67yxxNsM6CwKyCOVIFU4OSkg-mIOAkZ6eV6TXdfBw~vaeCGtwEm92Ju1Vv49nL7ZioP4eiKGxpw__",
        "version": 664155
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]