[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "PATCH",
    "path": "/v3/teams/176692/projects/963054665b7c313dd9b323.35886655/bundles/664595",
    "body": {
      "description": "Node_updated"
    },
    "status": 200,
    "response": {
      "data": {
        "id": 664595,
        "projectId": "963054665b7c313dd9b323.35886655",
        "isPrerelease": true,
        "isProduction": true,
        "createdAt": "2023-08-23T11:21:29.827Z",
        "createdBy": "20181",
        "framework": "android_sdk",
        "description": "Node_updated",
        "isFrozen": false,
        "lokaliseId": null,
        "fileId": "843d1a17-306e-426e-b709-13fce39a8549",
        "fileUrl": "https://ota-bundles.lokalise.com/176692/963054665b7c313dd9b323.35886655/bundles/0b8ba803-427e-4a64-a0b5-f7ed7aaf5364?Expires=1692882900&Key-Pair-Id=KKVN81V83VN6B&Signature=dTsKCLDp5bClV3rxzZU4iC1UC9e0C15Hh9j~KCw0iCkZhymkli3DzyBM1U0QQ0guGdndyrALYUL7-chFm0Ng67ja77mLF7uk~PTAUlq8KUNpO5ns6BwwHpOq5gXdf29b0PaDjHG6b6MqHdgJSlGZzWnOrtJrOPiTJb1lm69yWqnoiiEYRMP6BggA42IoZbQiJKX9E56MaLShbXZMdB1A69Oefu3L9gMwHQUJlxOO-y7j59SsUkkpHI7Q8yBRqwSMYvvBJzVAqRta19sVbHTZrHh0kujVDhWnH8ANDyOZikqn-y-ufaC9JPKjar5iZAJxtSd9IJVRt6IY4t3fn329ZQ__",
        "modifiedAt": "2023-08-23T11:21:29.827Z"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]