[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "GET",
    "path": "/v3/teams/176692/projects/963054665b7c313dd9b323.35886655/bundle-freezes?framework=ios_sdk",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "id": 34299,
          "projectId": 20984,
          "bundleId": 664155,
          "framework": "ios_sdk",
          "from": "1",
          "to": "2"
        },
        {
          "id": 34300,
          "projectId": 20984,
          "bundleId": 664798,
          "framework": "ios_sdk",
          "from": "3",
          "to": "4"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]