[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "GET",
    "path": "/v3/teams/176692/projects/963054665b7c313dd9b323.35886655/tokens",
    "body": "",
    "status": 200,
    "response": {
      "data": [
        {
          "id": 9428,
          "token": "a952aac5c1a5811618253acd7c935582596e",
          "projectId": 20984,
          "lokaliseId": null,
          "createdAt": "2023-08-22T14:21:25.643Z"
        },
        {
          "id": 9429,
          "token": "8531fd155d5ac3c76564f4a22dbada4f0a6f",
          "projectId": 20984,
          "lokaliseId": null,
          "createdAt": "2023-08-22T14:21:26.883Z"
        },
        {
          "id": 9430,
          "token": "f9de1558a5b41416e6f96b40dc1c2e348cd5",
          "projectId": 20984,
          "lokaliseId": null,
          "createdAt": "2023-08-22T14:21:28.473Z"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]