[
  {
    "scope": "https://ota.lokalise.com:443",
    "method": "GET",
    "path": "/v3/teams/176692/projects/963054665b7c313dd9b323.35886655/stats?dateFrom=2023-06-01&dateTo=2023-08-23",
    "body": "",
    "status": 200,
    "response": {
      "lokaliseProjectId": "963054665b7c313dd9b323.35886655",
      "from": "2023-06-01",
      "to": "2023-08-23",
      "sdk": "",
      "daily": [
        {
          "date": "2023-08-22",
          "downloads": 2,
          "trafficMb": 0,
          "trafficBytes": "3588",
          "framework": "ios_sdk"
        }
      ],
      "monthly": [
        {
          "date": "2023-08-31",
          "downloads": 2,
          "trafficMb": 0,
          "trafficBytes": "3588",
          "framework": "ios_sdk"
        }
      ],
      "totals": {
        "trafficMb": 0,
        "trafficBytes": "3588",
        "downloads": 2
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "Origin-Agent-Cluster",
      "?1"
    ],
    "responseIsBinary": false
  }
]