[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/payment_cards/",
    "body": "",
    "status": 200,
    "response": {
      "user_id": 20181,
      "payment_cards": [
        {
          "card_id": 1774,
          "last4": "0358",
          "brand": "Visa",
          "created_at": "2019-03-19 17:49:07 (Etc/UTC)",
          "created_at_timestamp": 1553017747
        },
        {
          "card_id": 2184,
          "last4": "8148",
          "brand": "MasterCard",
          "created_at": "2019-06-19 15:50:34 (Etc/UTC)",
          "created_at_timestamp": 1560959434
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "2",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1"
    ]
  }
]