[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/payment_cards/?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "user_id": 20181,
      "payment_cards": [
        {
          "card_id": 2184,
          "last4": "8148",
          "brand": "MasterCard",
          "created_at": "2019-06-19 15:50:34 (Etc/UTC)",
          "created_at_timestamp": 1560959434
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "2",
      "X-Pagination-Page-Count",
      "2",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ]
  }
]