[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/payment_cards/",
    "body": {
      "number": "4242424242424242",
      "cvc": 123,
      "exp_month": 10,
      "exp_year": 2030
    },
    "status": 200,
    "response": {
      "card_id": 2185,
      "last4": "4242",
      "brand": "MasterCard",
      "created_at": "2019-06-19 15:51:54 (Etc/UTC)",
      "created_at_timestamp": 1560959514
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]