[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/?page=3&limit=2",
    "body": "",
    "status": 200,
    "response": {
      "projects": [
        {
          "project_id": "399244385c0e9d07374685.57781732",
          "project_type": "localization_files",
          "name": "demo phoenix copy",
          "description": "",
          "created_at": "2018-12-10 16:06:15 (Etc/UTC)",
          "created_at_timestamp": 1544457975,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "team_id": 176692,
          "base_language_id": 640,
          "base_language_iso": "en",
          "settings": {
            "per_platform_key_names": false,
            "reviewing": true,
            "upvoting": false,
            "auto_toggle_unverified": true,
            "offline_translation": false,
            "key_editing": true,
            "inline_machine_translations": true
          },
          "statistics": {
            "progress_total": 0,
            "keys_total": 1,
            "team": 3,
            "base_words": 0,
            "qa_issues_total": 3,
            "qa_issues": {
              "not_reviewed": 3,
              "unverified": 0,
              "spelling_grammar": 0,
              "inconsistent_placeholders": 0,
              "inconsistent_html": 0,
              "different_number_of_urls": 0,
              "different_urls": 0,
              "leading_whitespace": 0,
              "trailing_whitespace": 0,
              "different_number_of_email_address": 0,
              "different_email_address": 0,
              "different_brackets": 0,
              "different_numbers": 0,
              "double_space": 0,
              "special_placeholder": 0
            },
            "languages": [
              {
                "language_id": 640,
                "language_iso": "en",
                "progress": 0,
                "words_to_do": 0
              },
              {
                "language_id": 597,
                "language_iso": "ru",
                "progress": 0,
                "words_to_do": 0
              },
              {
                "language_id": 673,
                "language_iso": "f_over",
                "progress": 0,
                "words_to_do": 0
              }
            ]
          }
        },
        {
          "project_id": "605317925c13e4ecb36a79.94825279",
          "project_type": "lo[...]
