[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "DELETE",
    "path": "/api2/projects/8804705664e7542ba911b6.70249100",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "8804705664e7542ba911b6.70249100",
      "project_deleted": true
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET, PUT",
      "X-Lokalise-Process-Id",
      "3d874ae3-b82d-41d2-80c0-7597fd7b6fbf"
    ],
    "responseIsBinary": false
  }
]