[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "project_type": "localization_files",
      "name": "demo phoenix",
      "description": "",
      "created_at": "2018-09-24 16:05:22 (Etc/UTC)",
      "created_at_timestamp": 1537805122,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": true,
        "upvoting": false,
        "auto_toggle_unverified": true,
        "offline_translation": true,
        "key_editing": true,
        "inline_machine_translations": true
      },
      "statistics": {
        "progress_total": 17,
        "keys_total": 18,
        "team": 8,
        "base_words": 39,
        "qa_issues_total": 256,
        "qa_issues": {
          "not_reviewed": 185,
          "unverified": 66,
          "spelling_grammar": 4,
          "inconsistent_placeholders": 1,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0
        },
        "languages": [
          {
            "language_id": 640,
            "language_iso": "en",
            "progress": 100,
            "words_to_do": 0
          },
          {
            "language_id": 597,
            "language_iso": "ru",
            "progress": 66,
            "words_to_do": 13
          },
          {
            "language_id": 673,
            "language_iso": "f_over",
            "progress": 25,
            "words_to_do": 29
          },
          {
            "language_id": 1055,
            "language_iso": "en-us",
            "progress": 0,
            "words_to_do": 39
          },
          {
            "langu[...]
