[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/",
    "body": {
      "name": "Node.js test",
      "description": "Test description"
    },
    "status": 200,
    "response": {
      "project_id": "580641925d0a726ead2fd7.11048498",
      "project_type": "localization_files",
      "name": "Node.js test",
      "description": "Test description",
      "created_at": "2019-06-19 17:35:42 (Etc/UTC)",
      "created_at_timestamp": 1560965742,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": true,
        "upvoting": false,
        "auto_toggle_unverified": true,
        "offline_translation": false,
        "key_editing": true,
        "inline_machine_translations": true
      },
      "statistics": {
        "progress_total": 0,
        "keys_total": 0,
        "team": 2,
        "base_words": 0,
        "qa_issues_total": 0,
        "qa_issues": {
          "not_reviewed": 0,
          "unverified": 0,
          "spelling_grammar": 0,
          "inconsistent_placeholders": 0,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0
        },
        "languages": [
          {
            "language_id": 640,
            "language_iso": "en",
            "progress": 0,
            "words_to_do": 0
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]