[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/963054665b7c313dd9b323.35886655",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "963054665b7c313dd9b323.35886655",
      "project_type": "localization_files",
      "name": "Sample Project",
      "description": "Lokalise sample project. Click title to edit in multilanguage view. You can delete it in project settings.",
      "created_at": "2018-08-21 13:35:25 (Etc/UTC)",
      "created_at_timestamp": 1534858525,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": false,
        "auto_toggle_unverified": false,
        "offline_translation": false,
        "key_editing": true,
        "inline_machine_translations": true,
        "branching": false,
        "segmentation": false,
        "contributor_preview_download_enabled": false,
        "custom_translation_statuses": true,
        "custom_translation_statuses_allow_multiple": true
      },
      "statistics": {
        "progress_total": 100,
        "keys_total": 3,
        "team": 5,
        "base_words": 10,
        "qa_issues_total": 13,
        "qa_issues": {
          "not_reviewed": 0,
          "unverified": 6,
          "spelling_grammar": 7,
          "inconsistent_placeholders": 0,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0,
          "unbalanced_brackets": 0
        },
        "languages": [
          {
            "language_id": 666,
            "language_iso": "de",
            "progress": 100,
            "words_to_do": 0
          },
          {
            "language_id": 640,
            "language_iso": "en",
            "progress": 100,
            "words_to_do": 0
          },
          {
            "language_id": 673,
            "language_iso": "fr",
            "progress": 100,
            "words_to_do": 0
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "017af4f3-dc1d-478d-94d2-6cd9543cd994"
    ],
    "responseIsBinary": false
  }
]