[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "processes": [
        {
          "process_id": "3b943469e6b3e324b5bdad639b122a623e6e7a1a",
          "type": "file-import",
          "status": "finished",
          "message": "",
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "created_at": "2020-05-13 11:24:37 (Etc/UTC)",
          "created_at_timestamp": 1589369077
        },
        {
          "process_id": "f0292f2d7e360641e2aa18db195d0a68031c8aeb",
          "type": "file-import",
          "status": "finished",
          "message": "",
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "created_at": "2020-05-14 09:58:47 (Etc/UTC)",
          "created_at_timestamp": 1589450327
        },
        {
          "process_id": "7055ee34fab2a5f38b8adaaf55132ff4659ceaf8",
          "type": "file-import[...]
