[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/4191a4e54cb6433193e75eed55359c4021e6aa91",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "process": {
        "process_id": "4191a4e54cb6433193e75eed55359c4021e6aa91",
        "type": "file-import",
        "status": "finished",
        "message": "",
        "created_by": "20181",
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2020-05-11 11:17:52 (Etc/UTC)",
        "created_at_timestamp": 1589195872,
        "url": "/api2/projects/803826145ba90b42d5d860.46800099/processes/file-import/4191a4e54cb6433193e75eed55359c4021e6aa91"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]