[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/processes/",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "processes": [
        {
          "process_id": "8a635e096e652c26c4ce6ef5f5e389e007ce31f0",
          "type": "file-import",
          "status": "finished",
          "message": "",
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "created_at": "2021-01-29 14:55:20 (Etc/UTC)",
          "created_at_timestamp": 1611932120
        },
        {
          "process_id": "51fccd0d05f01c7c60907c5c5bf945408dfa8eec",
          "type": "file-import",
          "status": "finished",
          "message": "",
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "created_at": "2021-01-29 14:55:38 (Etc/UTC)",
          "created_at_timestamp": 1611932138
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "2",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1"
    ],
    "responseIsBinary": false
  }
]