[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/screenshots/?page=1&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "screenshots": [
        {
          "screenshot_id": 189213,
          "title": "",
          "description": "",
          "screenshot_tags": [
            "onboarding"
          ],
          "url": "https://s3-eu-west-1.amazonaws.com/lokalise-assets/files/screenshots/803826145ba90b42d5d860.46800099/8ceba78ce34da06b123dffca7a957e876258b69d.jpg",
          "key_ids": [
            15519786
          ],
          "width": 125,
          "height": 32,
          "created_at": "2019-06-20 14:38:03 (Etc/UTC)",
          "created_at_timestamp": 1561041483
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "1",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "1"
    ]
  }
]