[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/39066161618d4ecb9fdc12.00274309/keys/134490810/segments/en/2?disable_references=0",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "39066161618d4ecb9fdc12.00274309",
      "key_id": 134490810,
      "language_iso": "en",
      "segment": {
        "segment_number": 2,
        "language_iso": "en",
        "value": "This is a text for Node.",
        "modified_by": 20181,
        "modified_by_email": "bodrovis@protonmail.com",
        "modified_at": "2021-12-16 16:49:35 (Etc/UTC)",
        "modified_at_timestamp": 1639673375,
        "is_reviewed": true,
        "reviewed_by": 20181,
        "is_fuzzy": false,
        "words": 6,
        "custom_translation_statuses": [
          {
            "status_id": 5734,
            "title": "context",
            "color": "#61bd4f"
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "06656b6a-66ac-4d02-a2fb-644570b2f31b"
    ],
    "responseIsBinary": false
  }
]