[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/39066161618d4ecb9fdc12.00274309/keys/134490810/segments/en?disable_references=1&filter_unverified=0",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "39066161618d4ecb9fdc12.00274309",
      "key_id": 134490810,
      "language_iso": "en",
      "segments": [
        {
          "segment_number": 1,
          "language_iso": "en",
          "value": "Hey!",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2021-12-16 16:19:04 (Etc/UTC)",
          "modified_at_timestamp": 1639671544,
          "is_reviewed": false,
          "reviewed_by": 0,
          "is_fuzzy": false,
          "words": 1,
          "custom_translation_statuses": []
        },
        {
          "segment_number": 2,
          "language_iso": "en",
          "value": "This is a text for Node.",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2021-12-16 16:19:04 (Etc/UTC)",
          "modified_at_timestamp": 1639671544,
          "is_reviewed": false,
          "reviewed_by": 0,
          "is_fuzzy": false,
          "words": 6,
          "custom_translation_statuses": []
        },
        {
          "segment_number": 3,
          "language_iso": "en",
          "value": "So good.",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2021-12-16 16:19:04 (Etc/UTC)",
          "modified_at_timestamp": 1639671544,
          "is_reviewed": false,
          "reviewed_by": 0,
          "is_fuzzy": false,
          "words": 2,
          "custom_translation_statuses": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "de485bb8-0050-49d9-ab85-ff2683760e3d"
    ],
    "responseIsBinary": false
  }
]