[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/39066161618d4ecb9fdc12.00274309/keys/134490810/segments/en/1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "39066161618d4ecb9fdc12.00274309",
      "key_id": 134490810,
      "language_iso": "en",
      "segment": {
        "segment_number": 1,
        "language_iso": "en",
        "value": "Hey!",
        "modified_by": 20181,
        "modified_by_email": "bodrovis@protonmail.com",
        "modified_at": "2021-12-16 16:19:04 (Etc/UTC)",
        "modified_at_timestamp": 1639671544,
        "is_reviewed": false,
        "reviewed_by": 0,
        "is_fuzzy": false,
        "words": 1,
        "custom_translation_statuses": []
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "684f9222-fff5-4ef2-aa5a-1bf9cb932b2a"
    ],
    "responseIsBinary": false
  }
]