[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/snapshots/?page=1&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "snapshots": [
        {
          "snapshot_id": 27882,
          "title": "test rspec",
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "created_at": "2018-12-10 17:02:04 (Etc/UTC)",
          "created_at_timestamp": 1544461324
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "1",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "1"
    ]
  }
]