[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/snapshots/",
    "body": {
      "title": "API snapshot"
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "snapshot": {
        "snapshot_id": 89351,
        "title": "API snapshot",
        "created_by": 20181,
        "created_by_email": "bodrovis@protonmail.com",
        "created_at": "2019-06-20 15:01:49 (Etc/UTC)",
        "created_at_timestamp": 1561042909
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]