[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/9367803563515cbe23fa19.58441884/snapshots/1570469",
    "body": {},
    "status": 200,
    "response": {
      "project_id": "5621368663515ffdc51236.08648770",
      "project_type": "localization_files",
      "name": "Node updated copy",
      "description": "SDK update",
      "created_at": "2022-10-20 14:49:33 (Etc/UTC)",
      "created_at_timestamp": 1666277373,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": true,
        "auto_toggle_unverified": true,
        "offline_translation": false,
        "key_editing": true,
        "inline_machine_translations": true,
        "branching": false,
        "segmentation": false,
        "custom_translation_statuses": false,
        "custom_translation_statuses_allow_multiple": false
      },
      "statistics": {
        "progress_total": 0,
        "keys_total": 0,
        "team": 2,
        "base_words": 0,
        "qa_issues_total": 0,
        "qa_issues": {
          "not_reviewed": 0,
          "unverified": 0,
          "spelling_grammar": 0,
          "inconsistent_placeholders": 0,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0,
          "unbalanced_brackets": 0
        },
        "languages": [
          {
            "language_id": 640,
            "language_iso": "en",
            "progress": 0,
            "words_to_do": 0
          }
        ]
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "c3ec7634-bfc6-4548-8d8b-dd7080c20a38"
    ],
    "responseIsBinary": false
  }
]