[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "POST",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/snapshots/89351",
    "body": {},
    "status": 200,
    "response": {
      "project_id": "531138705d0ba0c18f5b43.63503311",
      "project_type": "localization_files",
      "name": "Demo Phoenix copy",
      "description": "Description Phoenix",
      "created_at": "2019-06-20 15:05:37 (Etc/UTC)",
      "created_at_timestamp": 1561043137,
      "created_by": 20181,
      "created_by_email": "bodrovis@protonmail.com",
      "team_id": 176692,
      "base_language_id": 640,
      "base_language_iso": "en",
      "settings": {
        "per_platform_key_names": false,
        "reviewing": true,
        "upvoting": false,
        "auto_toggle_unverified": true,
        "offline_translation": true,
        "key_editing": true,
        "inline_machine_translations": true
      },
      "statistics": {
        "progress_total": 0,
        "keys_total": 0,
        "team": 9,
        "base_words": 0,
        "qa_issues_total": 0,
        "qa_issues": {
          "not_reviewed": 0,
          "unverified": 0,
          "spelling_grammar": 0,
          "inconsistent_placeholders": 0,
          "inconsistent_html": 0,
          "different_number_of_urls": 0,
          "different_urls": 0,
          "leading_whitespace": 0,
          "trailing_whitespace": 0,
          "different_number_of_email_address": 0,
          "different_email_address": 0,
          "different_brackets": 0,
          "different_numbers": 0,
          "double_space": 0,
          "special_placeholder": 0
        },
        "languages": [
          {
            "language_id": 640,
            "language_iso": "en",
            "progress": 0,
            "words_to_do": 0
          },
          {
            "language_id": 597,
            "language_iso": "ru",
            "progress": 0,
            "words_to_do": 0
          },
          {
            "language_id": 673,
            "language_iso": "f_over",
            "progress": 0,
            "words_to_do": 0
          },
          {
            "language_id": 1055,
            "language_iso": "en-us",
            "progress": 0,
            "words_to_do": 0
          },
          {
            "language_i[...]
