[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/tasks/?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "tasks": [
        {
          "task_id": 10001,
          "title": "My new task",
          "can_be_parent": true,
          "task_type": "translation",
          "parent_task_id": null,
          "closing_tags": [
            "finalized"
          ],
          "description": "Description is here",
          "status": "in progress",
          "progress": 25,
          "due_date": "2019-04-29 22:00:00 (Etc/UTC)",
          "due_date_timestamp": 1556575200,
          "keys_count": 2,
          "words_count": 16,
          "created_at": "2019-04-17 13:44:00 (Etc/UTC)",
          "created_at_timestamp": 1555508640,
          "created_by": 20181,
          "created_by_email": "bodrovis@protonmail.com",
          "languages": [
            {
              "language_iso": "es",
              "users": [
                {
                  "user_id": 34051,
                  "email": "demo2@example.com",
                  "fullname": "Demo 2 User"
                },
                {
                  "user_id": 35554,
                  "email": "golosizpru@ya.ru",
                  "fullname": "Joanne"
                }
              ],
              "groups": [],
              "keys": [
                15571975,
                15571976
              ],
              "status": "in progress",
              "progress": 50,
              "initial_tm_leverage": [],
              "keys_count": 2,
              "words_count": 5,
              "completed_at": null,
              "completed_at_timestamp": null,
              "completed_by": null,
              "completed_by_email": null
            },
            {
              "language_iso": "zh_TW",
              "users": [
                {
                  "user_id": 35555,
                  "email": "john@example.com",
                  "fullname": "John"
                }
              ],
              "groups": [],
              "keys": [
                15571975,
                15571976
              ],
              "status": "created",
              "progress": 0,
              "initial_tm_leverage": [],
              "keys_count": 2,
              "words_count": 8,
              "completed_at": null,
              "completed_at_timestamp": null,
              "completed_by": null,
              "completed_by_email": null
            }
          ],
          "auto_close_languages": true,
          "auto_close_task": true,
          "completed_at": null,
          "completed_at_timestamp": null,
          "completed_by": null,
          "completed_by_email": null,
          "do_lock_translations": false,
          "custom_translation_status_ids": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "3",
      "X-Pagination-Page-Count",
      "3",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ]
  }
]