[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/teams/199048/billing_details",
    "body": {
      "billing_email": "hello@example.com",
      "country_code": "LV",
      "zip": "LV-1234"
    },
    "status": 200,
    "response": {
      "company": "",
      "address1": "",
      "address2": "",
      "city": "",
      "zip": "LV-1234",
      "phone": "",
      "vatnumber": null,
      "country_code": "LV",
      "billing_email": "hello@example.com",
      "state_code": ""
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET"
    ],
    "responseIsBinary": false
  }
]