[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/teams/176692/users/20181",
    "body": "",
    "status": 200,
    "response": {
      "team_id": 176692,
      "team_user": {
        "user_id": 20181,
        "email": "bodrovis@protonmail.com",
        "fullname": "Ilya B",
        "created_at": "2018-08-21 15:35:25 (Etc/UTC)",
        "created_at_timestamp": 1534865725,
        "role": "owner"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "45ffaf24-242d-48a8-9e8f-2419a69ce2ba"
    ],
    "responseIsBinary": false
  }
]