[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/teams/176692/billing_details",
    "body": "",
    "status": 200,
    "response": {
      "company": "Self-employed",
      "address1": "Sample line 1",
      "address2": "Sample line 2",
      "city": "Riga",
      "zip": "LV-6543",
      "phone": "+371123456",
      "vatnumber": "123",
      "country_code": "LV",
      "billing_email": "hello@example.com",
      "state_code": ""
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]