[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams/176692/users/?page=3&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "team_id": 176692,
      "team_users": [
        {
          "user_id": 35554,
          "email": "golosizpru@ya.ru",
          "fullname": "Joanne",
          "created_at": "2019-04-17 13:39:19 (Etc/UTC)",
          "created_at_timestamp": 1555508359,
          "role": "member"
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "11",
      "X-Pagination-Page-Count",
      "11",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "3"
    ]
  }
]