[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams/176692/users/",
    "body": "",
    "status": 200,
    "response": {
      "team_id": 176692,
      "team_users": [
        {
          "user_id": 39938,
          "email": "translator2@mycompany.com",
          "fullname": "Mr. Translator",
          "created_at": "2019-06-19 20:12:11 (Etc/UTC)",
          "created_at_timestamp": 1560975131,
          "role": "member"
        },
        {
          "user_id": 35555,
          "email": "john@example.com",
          "fullname": "John",
          "created_at": "2019-04-17 13:41:12 (Etc/UTC)",
          "created_at_timestamp": 1555508472,
          "role": "member"
        },
        {
          "user_id": 35554,
          "email": "golosizpru@ya.ru",
          "fullname": "Joanne",
          "created_at": "2019-04-17 13:39:19 (Etc/UTC)",
          "created_at_timestamp": 1555508359,
          "role": "[...]
