[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams/176692/users/39938",
    "body": "",
    "status": 200,
    "response": {
      "team_id": 176692,
      "team_user": {
        "user_id": 39938,
        "email": "translator2@mycompany.com",
        "fullname": "Mr. Translator",
        "created_at": "2019-06-19 20:12:11 (Etc/UTC)",
        "created_at_timestamp": 1560975131,
        "role": "member"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]