[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "teams": [
        {
          "team_id": 176692,
          "name": "Ilya's Team",
          "plan": "Trial",
          "created_at": "2018-08-21 15:35:25 (Etc/UTC)",
          "created_at_timestamp": 1534865725,
          "quota_usage": {
            "users": 11,
            "keys": 95,
            "projects": 11,
            "mau": 0
          },
          "quota_allowed": {
            "users": 999999999,
            "keys": 999999999,
            "projects": 999999999,
            "mau": 999999999
          }
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "3",
      "X-Pagination-Page-Count",
      "3",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ]
  }
]