[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams/176692/translation_providers/",
    "body": "",
    "status": 200,
    "response": {
      "translation_providers": [
        {
          "provider_id": 1,
          "name": "Gengo",
          "slug": "gengo",
          "price_pair_min": "0.00",
          "website_url": "https://gengo.com",
          "description": "At Gengo, our mission is to provide language services to everyone and connect a global community. Our network of over 18,000 translators are tested and qualified to meet stringent project standards. Translators are based around the world and in every timezone, which enables us to support over 35 languages and work towards the Gengo mission."
        },
        {
          "provider_id": 4,
          "name": "Lokalise",
          "slug": "lokalise",
          "price_pair_min": "10.00",
          "website_url": "https://lokalise.co",
          "description": "Our native professional translations are experts in mobile app, software, e-learning, website, multimedia and game localization. Translations in over 90 languages are available.\n<br><br>\nReach out for our translation managers in our in-web support chat. They will guide you through.\n<br><br>\n<strong>Lifetime quality guarantee</strong> applies."
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "2",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "100",
      "X-Pagination-Page",
      "1"
    ]
  }
]