[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/translations/304581218",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "translation": {
        "translation_id": 304581218,
        "key_id": 44596059,
        "language_iso": "ru",
        "translation": "Сообщение",
        "modified_by": 20181,
        "modified_by_email": "bodrovis@protonmail.com",
        "modified_at": "2020-05-15 10:44:42 (Etc/UTC)",
        "modified_at_timestamp": 1589539482,
        "is_reviewed": false,
        "reviewed_by": 0,
        "is_unverified": false,
        "is_unverified": false,
        "words": 1,
        "custom_translation_statuses": [],
        "task_id": null
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]