[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/custom_translation_statuses/colors",
    "body": {},
    "status": 200,
    "response": {
      "colors": [
        "#61bd4f",
        "#f2d600",
        "#ff9f1a",
        "#eb5a46",
        "#c377e0",
        "#0079bf",
        "#00c2e0",
        "#344563",
        "#ff78cb"
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]