[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/translations/?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "translations": [
        {
          "translation_id": 80015148,
          "key_id": 15571975,
          "language_iso": "ru",
          "translation": "",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2018-12-10 17:35:35 (Etc/UTC)",
          "modified_at_timestamp": 1544463335,
          "is_reviewed": true,
          "reviewed_by": 33599,
          "is_fuzzy": true,
          "words": 0,
          "custom_translation_statuses": []
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "240",
      "X-Pagination-Page-Count",
      "240",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ]
  }
]