[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/translations/79607647",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "translation": {
        "translation_id": 79607647,
        "key_id": 15519786,
        "language_iso": "ru",
        "translation": "Ещё один английский ключ",
        "modified_by": 33599,
        "modified_by_email": "twilight_church@list.ru",
        "modified_at": "2019-05-13 16:13:34 (Etc/UTC)",
        "modified_at_timestamp": 1557764014,
        "is_reviewed": true,
        "reviewed_by": 33599,
        "is_fuzzy": false,
        "words": 4,
        "custom_translation_statuses": []
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]