[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/translations?filter_is_reviewed=0&filter_lang_id=803",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "translations": [
        {
          "translation_id": 304581213,
          "key_id": 44596059,
          "language_iso": "sq",
          "translation": "",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2020-05-11 11:20:33 (Etc/UTC)",
          "modified_at_timestamp": 1589196033,
          "is_reviewed": false,
          "reviewed_by": 0,
          "is_fuzzy": false,
          "words": 0,
          "custom_translation_statuses": []
        },
        {
          "translation_id": 304581224,
          "key_id": 44596060,
          "language_iso": "sq",
          "translation": "{\"one\":\"\",\"other\":\"\"}",
          "modified_by": 20181,
          "modified_by_email": "bodrovis@protonmail.com",
          "modified_at": "2020-05-11 11:20:33 (Etc/UTC)",
          "modified_at_timestamp": 1589196033,
          "is_reviewed": false,
          "reviewed_by": 0,
          "is_fuzzy": false,
          "words": 0,
          "custom_translation_statuses": []
        },
        {
          "translation_id": 304581235,
          "key_id": 44596061,
          "language_iso": "sq",
          "translati[...]
