[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "POST",
    "path": "/api2/projects/963054665b7c313dd9b323.35886655/custom_translation_statuses",
    "body": {
      "title": "node",
      "color": "#344563"
    },
    "status": 200,
    "response": {
      "project_id": "963054665b7c313dd9b323.35886655",
      "custom_translation_status": {
        "status_id": 15694,
        "title": "node",
        "color": "#344563"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "Allow",
      "GET",
      "X-Lokalise-Process-Id",
      "e941f016-13f8-465a-bd35-66446924cdad"
    ],
    "responseIsBinary": false
  }
]