[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "PUT",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/custom_translation_statuses/131",
    "body": {
      "title": "node updated"
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "custom_translation_status": {
        "status_id": 131,
        "title": "node updated",
        "color": "#344563"
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]