[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "PUT",
    "path": "/api2/teams/176692/groups/762/projects/remove",
    "body": {
      "projects": [
        "531138705d0ba0c18f5b43.63503311"
      ]
    },
    "status": 200,
    "response": {
      "team_id": 176692,
      "group": {
        "group_id": 762,
        "name": "Node updated",
        "permissions": {
          "is_admin": true,
          "is_reviewer": false,
          "admin_rights": [
            "upload"
          ],
          "languages": []
        },
        "created_at": "2019-06-20 17:35:39 (Etc/UTC)",
        "created_at_timestamp": 1561052139,
        "team_id": 176692,
        "projects": [],
        "members": []
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]