[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "GET",
    "path": "/api2/teams/176692/groups/7561",
    "body": "",
    "status": 200,
    "response": {
      "group_id": 7561,
      "name": "Restricted",
      "permissions": {
        "is_admin": false,
        "is_reviewer": true,
        "admin_rights": [],
        "languages": [
          {
            "lang_id": 891,
            "lang_iso": "aa",
            "lang_name": "Afar",
            "is_writable": true
          },
          {
            "lang_id": 910,
            "lang_iso": "ak",
            "lang_name": "Akan",
            "is_writable": true
          }
        ]
      },
      "created_at": "2022-08-01 14:16:44 (Etc/UTC)",
      "created_at_timestamp": 1659363404,
      "team_id": 176692,
      "projects": [
        "2273827860c1e2473eb195.11207948"
      ],
      "members": [
        34051,
        71999
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Lokalise-Process-Id",
      "e93ec81e-9f2d-472e-8f29-1f4b4e7d5a57"
    ],
    "responseIsBinary": false
  }
]