[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/teams/176692/groups/?page=1&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "team_id": 176692,
      "user_groups": [
        {
          "group_id": 515,
          "name": "Demo",
          "permissions": {
            "is_admin": true,
            "is_reviewer": false,
            "admin_rights": [
              "upload",
              "download",
              "tasks",
              "contributors",
              "screenshots",
              "keys",
              "languages",
              "settings",
              "activity",
              "statistics"
            ],
            "languages": []
          },
          "created_at": "2019-03-19 19:53:04 (Etc/UTC)",
          "created_at_timestamp": 1553025184,
          "team_id": 176692,
          "projects": [
            "531138705d0ba0c18f5b43.63503311",
            "803826145ba90b42d5d860.46800099"
          ],
          "members": [
            20181,
            25753
          ]
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "1",
      "X-Pagination-Page-Count",
      "1",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "1"
    ]
  }
]