[
  {
    "scope": "https://api.lokalise.com:443",
    "method": "PATCH",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/webhooks/795565582e5ab15a59bb68156c7e2e9eaa1e8d1a/secret/regenerate",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "branch": "master",
      "secret": "8c91d28b46a8874c7ef0064494587b83944675ab"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ],
    "responseIsBinary": false
  }
]