[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "GET",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/webhooks/?page=2&limit=1",
    "body": "",
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "webhooks": [
        {
          "webhook_id": "c7eb7e6e3c2fb2b26d0b64d0de083a5a71675b3d",
          "url": "https://canihaz.hook",
          "secret": "a62450cd9eeca8dfc84f3c0cf9b7a6a370267d6f",
          "events": [
            "project.snapshot",
            "project.imported",
            "project.exported",
            "project.languages.added",
            "project.language.removed",
            "project.language.settings_changed",
            "project.translation.updated"
          ],
          "event_lang_map": [
            {
              "event": "project.translation.updated",
              "lang_iso_codes": [
                "sq",
                "ar_001",
                "bm",
                "ca",
                "custom_1",
                "nl",
                "en",
                "en-us",
                "f_over",
                "ru",
                "es"
              ]
            }
          ]
        }
      ]
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "X-Pagination-Total-Count",
      "2",
      "X-Pagination-Page-Count",
      "2",
      "X-Pagination-Limit",
      "1",
      "X-Pagination-Page",
      "2"
    ]
  }
]