[
  {
    "scope": "https://api.lokalise.co:443",
    "method": "PUT",
    "path": "/api2/projects/803826145ba90b42d5d860.46800099/webhooks/fb60b95ff86631c9f4df2fb8f5e77ba879cf9156",
    "body": {
      "url": "http://hook.node",
      "events": [
        "project.snapshot"
      ]
    },
    "status": 200,
    "response": {
      "project_id": "803826145ba90b42d5d860.46800099",
      "webhook": {
        "webhook_id": "fb60b95ff86631c9f4df2fb8f5e77ba879cf9156",
        "url": "http://hook.node",
        "secret": "2b57b6be3e356becd98ab448498661e3d254120f",
        "events": [
          "project.snapshot"
        ],
        "event_lang_map": []
      }
    },
    "rawHeaders": [
      "Content-Type",
      "application/json"
    ]
  }
]