@font-face {
  font-family: "FactorA-Regular";
  src: url("../fonts/FactorA-Regular.woff2") format("woff2"),
       url("../fonts/FactorA-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FactorA-Medium";
  src: url("../fonts/FactorA-Medium.woff2") format("woff2"),
       url("../fonts/FactorA-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}