name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 14
          - 16
          - 18
          - 20
        os:
          - ubuntu-latest
    env:
      API_KEY: 123abc
      OAUTH2_ACCESS_TOKEN: fake
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
      - uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          verbose: true