name: CI
on:
  - push
  - pull_request
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
        os:
          - ubuntu-latest
    env:
      API_KEY: 123abc
      OAUTH2_CLIENT_ID: fake
      OAUTH2_CLIENT_SECRET: fake
      OAUTH2_ACCESS_TOKEN: fake
      OAUTH2_REFRESH_TOKEN: fake
      API_JWT: fake
      SDK_TOKEN: fake
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
      - uses: coverallsapp/github-action@v2